.header-title{
    font-size: 2.2rem;
    float:left;
    line-height: 100px;
    color:#444;
    width: 175px;
    text-align: center;
}
header::before{
     background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55); content: ""; height: 5px; position: absolute; top: 0; width: 100%; 

     /*! z-index: -1; */
     /*! opacity: 0.5; */
}
header{
    width: 100%;
    height: 100px;
    background: #fff;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.04);
    top:0;
    z-index: 999;
    /*! opacity: 0.8; */
}
.header-content{
    height: 100%;
}
.position-fixed{
    position: fixed;
}
.position-relative{
    position: relative;
}
.container{
    width: 100%;
    margin:0 auto;
}
@media screen and (min-width: 768px) {
    .container{
        width: 768px;
    }
}
@media screen and (min-width: 992px) {
    .container{
        width: 992px;
    }
}
@media screen and (min-width: 1200px) {
    .container{
        width: 1200px;
    }
}
.display-flex{
    display: flex;
   justify-content: space-between;
}
.header-nav{
    float:left;
    width:60%;
}
.header-nav li{
    line-height: 100px;
    font-weight:bold;
    font-size: 1.4rem;
    width: 16.6%;
    text-align: center;
}
#huakuai{
    width: 16.6%;
    height: 30px;
    position: absolute;
    background-color: lightskyblue;
    border-radius: 10px;
    top:35px;
    z-index: -1;
}
.aboutMe-icon{
    float: left;
    height: 100px;
    display: flex;
    width: 10%;
    justify-content: space-around;
}
.aboutMe-icon span{
    display: inline-block;
    line-height: 100px;
    font-size: 2.2rem;
    width: 40%;
    text-align: center;
    cursor: pointer;
}
.aboutMe-icon span:hover{
    font-size: 30px;
}
.big-image{
    height: 600px;
    margin-top:100px;
    width: 100%;
}
.bg-image{
    background: url("../images/bg.jpg") center center;
    width: 100%;
    height: 100%;
}
.bg-image p{
    font-size: 3rem;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 600px;
    color:#333;
}
.main-content{
    height: auto;
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}
.main-left{
    width: 98%;
    /*! background-color: brown; */
    margin:0 auto;
}
.main-right{
    height: auto;
    display: none;
}
@media screen and (min-width: 768px) {
    .main-left{
        width: 100%;
        /*! background-color:green; */
        margin:0 auto;
    }
    .main-right{
        display: none;
    }
    
}
@media screen and (min-width: 992px) {
    .main-left{
        width: 65%;
    }
    .main-right{
        width: 33%;
        /*! background-color: yellow; */
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    .main-left{
        width: 69%;
    }
    .main-right{
    width: 28%;
    /*! background-color: #fff; */
    display: block;
}
}
.main-block{
    width: 100%;
    height: 381px;
    margin-bottom: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}
.main-block-header{
    width: 100%;
    height: 45px;
}
.main-block-title{
    float: left;
    font-size: 2.4rem;
}
.main-block-title span{
    display: inline-block;
}
.main-block-title span:first-child{
    vertical-align: -1px;
    margin-right: 5px;
}
.main-block-title .title-text{
    color:#222;
    font-weight: 400;
}
.main-block-more{
    float:right;
    width: 54px;
    border:1px solid #ccd0d7;
    border-radius: 4px;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}
.main-block-more:hover{
    background-color: #777;
}
.main-block-more span{
    display: inline-block;
}
.main-block-more span:last-child{
    vertical-align: -3.5px;
    color:#555;
    font-size:1.8rem;
}
.main-block-more .more-text{
    font-size: 1.2rem;
    color:#555;
    margin-left: 5px;
}
.main-block-content{
    width: 100%;
    height: 336px;
}
.main-block-content .content-left{
    float: left;
    height: 100%; 
    width: 300px;
    height: 100%;
    margin-right: 20px;
    display: block;
}
.main-block-content .content-left .left-pic{
    width: 100%;
    height: 154px;
    margin-bottom: 28px;
}
@media screen and (max-width: 767px) {
    .main-block-content .content-left{
        display: none;
    }
}
@media screen and (min-width: 992px) {
    .main-block-content .content-left{
        width: 35%;
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    .main-block-content .content-left{
        width: 300px;
        display: block;
    }
}
.main-block-content .content-left .left-pic a{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    border-radius:5px;
}
.main-block-content .content-left .left-pic a img{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}
.main-block-content .content-left .left-pic a img:hover{
    opacity: 1;
}
.main-block-content .content-left .left-pic a .pic-desc{
    position: absolute;
    z-index: 1;
    top:40%;
    display:inline-block;
    width: 100%;
    text-align: center;
    color:#fff;
}
.main-block-content .content-right{
    float: left;
    width: 499px;
    height: 100%;
    
}
@media screen and (max-width: 767px) {
    .main-block-content .content-right{
        width: 100%; 
    }
}
@media screen and (min-width: 768px) {
    .main-block-content .content-right{
        width: 57%; 
    }
}
@media screen and (min-width: 992px) {
    .main-block-content .content-right{
        width: 60%; 
    }
}
@media screen and (min-width: 1200px) {
    .main-block-content .content-right{
        width: 499px; 
    }
}
.main-block-content .content-right ul .blog-item{
    width: 100%;
    margin-top: 7px;
}
.main-block-content .content-right ul .currentBlog{
    width: 100%;
    background-color: #eee;
    border-radius: 4px;
}
.main-block-content .content-right ul .currentBlog a{
    font-weight: bold;
}
.main-block-content .content-right ul .currentBlog span{
    background: #222 !important;
}
.main-block-content .content-right ul .blog-item span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #9a9a9a;
    float: left;
    text-align: center;
    color:#fff;
    font-size: 1.2rem;
    line-height: 20px;
    margin-right: 20px;
}
.main-block-content .content-right ul .blog-item a{
    display: inline-block;
    height: 32px;
    color:#333;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.5rem;
}
.main-block-content .content-right ul .blog-item p{
    display: none;
    font-size: 1.4rem;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 48px;
    color: #555;
}
.aside-aboutMe{
    width: 90%;
    /*! height: 381px; */
    margin:0 auto;
    background: #fff;
    /*! padding: 10px; */
    border-radius: 5px;
    padding-bottom: 10px;
}
.aside-aboutMe .ab-title{
    width: 100%;
    height: 45px;
    position: relative;
    z-index: 1;
}
.aside-aboutMe .ab-title .bottom-line-left{
    width: 25%;
    height: 2px;
    background-color: #555;
    bottom:8px;
    left: 0;
    position: absolute;
}
.aside-aboutMe .ab-title .bottom-line-right{
    width: 25%;
    height: 2px;
    background-color: #555;
    bottom:8px;
    right: 0;
    position: absolute;
}
.aside-aboutMe .ab-title .ab-title-word{
    width: 50%;
    height: 45px;
    line-height: 45px;
    font-size: 2.2rem;
    font-weight: bold;
    position: absolute;
    left:25%;
    text-align: center;
    color:#555;
}
.aside-aboutMe .head-portrait{
    width: 40%;
    margin: 40px auto;
}
.aside-aboutMe .head-portrait a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius:50% 50%;
    overflow:hidden;
}
.aside-aboutMe .head-portrait a:hover img{
    opacity: 1;
}
.aside-aboutMe .head-portrait a img{
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.aside-aboutMe .ab-info{
    width: 90%;
    margin: 0 auto;
}
.aside-aboutMe .ab-info .ab-info-list{
    background-color: #eee;
    margin-bottom:10px;
    border: 1px dashed #fff;
    border-radius: 5px;
    color:#555;
    line-height: 30px;
    height: 30px;
    font-size: 1.5rem;
    padding-left: 15px;
}
.picture-list{
    width: 100%;
    height: 336px;
    overflow: hidden;
}
.picture-list ul{
    height: 100%;
    width: 2070px;
}
.picture-list ul .photo-item{
    width: 207px;
    height: 100%;
    float: left;
    text-align: center;
    /*! padding: 0 10px; */
    /*! line-height: 336px; */
}
.picture-list ul .photo-item a{
    display: inline-block;
    width: 90%;
    height: 90%;
    margin-top: 5%;
    position: relative;
    box-shadow: 0px 3px 4px #000;
}
.picture-list ul .photo-item a img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
}
.picture-list ul .photo-item a img:hover{
    opacity: 1;
}
.picture-list ul .photo-item a .photo-name{
    position: absolute;
    top:50%;
    left: 0;
    width: 100%;
    text-align: center;
    color:#fff;
    font-size: 1.8rem;
}
#music{
    height: auto;
}
.main-block .music-content{
    width: 100%;
    height: 446px;
}
.main-block .music-content .song-list{
    width: 266px;
    float:left;
    margin:0 5px;
    padding:10px;
    background-color: #e9eaed;
    border-radius: 5px;
    border:1px dashed #fff;
    box-sizing: border-box;
}
@media screen and (max-width: 767px) {
    .main-block .music-content .song-list{
        width: 95%;
        margin-bottom:20px;
    }
    #music{
        height: 1473px;
    }
}
@media screen and (min-width: 768px) {
    .main-block .music-content .song-list{
        width: 30%;
    }
    #music{
        height: 491px;
    }
}
@media screen and (min-width: 992px) {
    .main-block .music-content .song-list{
        width: 30%;
    }
    #music{
        height: 491px;
    }
}
@media screen and (min-width: 1200px) {
    .main-block .music-content .song-list{
        width: 266px;
    }
    #music{
        height: 491px;
    }
}
.main-block .music-content .song-list .title{
    width: 100%;
    height: 30px;
    font-size:2rem;
    color:#222;
    border-bottom:2px solid #fff;
}
.main-block .music-content .song-list .music-content-item{
    width: 100%;
    height: 30px;
    /*! line-height: 30px; */
    border-bottom:1px solid #f9f9f9;
    cursor: pointer;
}
.main-block .music-content .song-list .music-content-item:hover .music-song-name{
    color: #bf2c24;
}
.main-block .music-content .song-list .number-one{
    height: 94px;
    margin:10px 0;
}
.main-block .music-content .song-list .number-one .number-one-desc{
    float: left;
    height: 100%;
}
.main-block .music-content .song-list .number-one .number-one-desc .first{
    width: 36px;
    height: 18px;
    line-height: 18px;
    background: #bf2c24;
    color:#fff;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}
.main-block .music-content .song-list .number-one .number-one-desc .first-song-name{
    font-size: 1.6rem;
    color:#1a1a1a;
    height: 36px;
    line-height: 36px;
/*     display: inline-block; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main-block .music-content .song-list .number-one .number-one-desc .first-song-name:hover{
    color:#bf2c24;
}
.main-block .music-content .song-list .number-one .number-one-desc .first-song-singer{
    height: 36px;
    line-height: 36px;
    color:#bf2c24;
/*     display: inline-block; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main-block .music-content .song-list .number-one .number-one-pic{
    float: right;
    width: 90px;
    height:90px;
}
.main-block .music-content .song-list .music-content-item .music-index{
    /*! display: inline-block; */
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background: #fff;
    font-weight: 700;
    color:#888;
    /*! overflow: hidden; */
    /*! text-overflow: ellipsis; */
    /*! white-space: nowrap; */
    float: left;
    margin-top: 5px;
}
.main-block .music-content .song-list .music-content-item .second{
    color:#fff;
    background-color: #e67225;
}
.main-block .music-content .song-list .music-content-item .third{
    color:#fff;
    background-color: #e6bf25;
}
.main-block .music-content .song-list .music-content-item .music-song-name{
    margin-left: 10px;
    color:#444;
    font-size: 1.5rem;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
    line-height: 30px;
    height: 30px;
    float: left;
}
.main-block .music-content .song-list .music-content-item .music-song-singer{
    float:right;
    font-size:1.3rem;
    color:#666;
display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 30%;
    text-align: right;
    height: 30px;
    line-height: 30px;
}
#mv{
    height:530px;
}
.main-block .hot-mv{
    width: 100%;
}
.main-block .hot-mv li{
    width: 42%;
    float: left;
    margin:0 5px;
    padding:5px;
    height: 150px;
}
.main-block .hot-mv li p{
    display: inline-block;
    font-size: 1.2rem;
}
@media screen and (min-width: 375px) {
    #mv{
        height:460px ;
    }
    .main-block .hot-mv li{
        width: 42%;
        margin:0;
        padding:5px;
        height: 130px;
    }
    .main-block .hot-mv li p{
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 520px) {
    #mv{
        height:361px ;
    }
    .main-block .hot-mv li{
        width: 30%;
        margin:0;
        padding:5px;
        height: 150px;
    }
    .main-block .hot-mv li p{
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 992px) {
    #mv{
        height:341px ;
    }
    .main-block .hot-mv li{
        width: 30%;
        margin:0 5px;
        padding:5px;
        height: 140px;
    }
    .main-block .hot-mv li p{
        font-size: 1.6rem;
    }
}
@media screen and (min-width: 1200px) {
    #mv{
        height:401px ;
    }
    .main-block .hot-mv li{
        width: 256px;
        margin:0 5px;
        padding:5px;
        height: 170px;
    }
    .main-block .hot-mv li p{
        font-size: 1.6rem;
    }
}
.main-block .hot-mv li a{
    display: inline-block;
    width: 100%;
    
}
.main-block .hot-mv li a img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

footer{
    width: 100%;
    height: 300px;
    background-color: #373d41;
    margin-top:20px;
    overflow: hidden;
    border-top:10px solid #00c1de;
    
}
footer .foot{
    height: 100%;
    margin-top:50px;
}
footer .foot .qr-code{
    width: 33%;
    height: 200px;
    float: left;
}
footer .foot .qr-code .weixin{
    width: 150px;
    /*! height: 100%; */
    float: left;
    margin-right: 40px;
}
footer .foot .qr-code .weixin img{
    width: 100%;
    height: 150px;
}
footer .foot .qr-code span{
    display: inline-block;
    width: 100%;
    text-align: center;
    color:#f7f7f7;
}
footer .foot .qr-code .qq{
    width: 150px;
    /*! height: 100%; */
    float:left;
}
footer .foot .qr-code .qq img{
    width: 100%;
    height: 150px;
}
footer .foot .statement{
    float: left;
    width: 66%;
}
footer .foot .statement p{
    color:#73777a;
    font-size: 1.8rem;
    margin-top:5px;
}
footer .foot .statement p:first-child{
    color:#00c1de;
    font-weight: 700;
}

@media screen and (max-width: 767px) {
    footer{
        height: 500px;
    }
    footer .foot .qr-code{
        width: 100%;
        margin-left:0;
    }
    footer .foot .statement{
        width: 100%;
    }
}
@media screen and (max-width: 375px) {
    footer{
        height: 700px;
    }
    footer .foot .qr-code{
        width: 100%;
        margin-left:0;
        height: 400px;
    }
    footer .foot .statement{
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    footer{
        height: 500px;
    }
    footer .foot .qr-code{
        width: 50%;
        margin:0 30%;
    }
    footer .foot .statement{
        width: 60%;
        margin:0 20%;
    }
}
@media screen and (min-width: 992px) {
     footer{
        height: 500px;
    }
    footer .foot .qr-code{
        width: 40%;
        margin:0 30%;
    }
    footer .foot .statement{
        width: 60%;
        margin:0 20%;
    }
}
@media screen and (min-width: 1200px) {
    footer{
        height: 300px;
    }
    footer .foot .qr-code{
        width: 33%;
        margin:0;
    }
    footer .foot .statement{
        width: 66%;
        margin:0;
    }
}